<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{.Site.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/picnic.min.css">
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/styles.css">
  </head>
  <body>
    
  <nav>
    <a href="{{.Site.BaseURL}}" class="brand">
      <img class="logo" src="{{.Site.BaseURL}}my-logo-placeholder-fit.png">
      <span>{{ .Site.Title }}</span>
    </a>
  </nav>
